<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Tech Blog</title>

  <body>
  <header>
    <h1>Tech Blog</h1>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav mainNav">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/dashboard">Dashboard</a>
          <a class="nav-item" href="/login">Login</a>
          <a class="nav-item" href="/logout">Logout</a>
        </div>
      </div>
    </nav>
  </header>

  <main> 
    {{{ body }}} 
  </main>

